.timer-container {
  border-radius: 1rem;
  padding: 1rem;
  background-color: cornflowerblue;
}

.timer-container .timer-header {
  font-size: 50px;
  font-weight: bold;
  color: blue;
}

.timer-container .timer-value {
  font-size: 45px;
  color: lightblue;
}
